<div class="card p-2 md:p-4">
    <p-treeTable [value]="menuData" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}"
    selectionMode="single" [loading]="isLoadingMenu" loadingIcon="null">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 20rem;" >Nombre del Menú</th>
                <th style="width: 15rem;">Link</th>
                <th style="width: 15rem;">Descripción</th>
                <th style="width: 7rem;" >Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                <td style="width: 20rem;">
                    <p-treeTableToggler [rowNode]="rowNode" />
                    <div class="inline-flex align-items-center vertical-align-middle">
                        @if (rowData?.icon) {
                            <ng-icon [name]="rowData?.icon" class="mr-2 text-xl text-primary-700"></ng-icon>
                        }
                        <div>{{ rowData?.order + " - " + rowData?.label }}</div>
                    </div>
                </td>
                <td style="width: 15rem;">{{ rowData.routerLink }}</td>
                <td style="width: 15rem;"></td>
                <td style="width: 8rem;"> 
                    <button pButton pRipple type="button" [rounded]="true"  severity="info" pTooltip="Editar" icon="pi pi-eye" class="mr-2 text-xs font-bold"></button>
                    <button pButton pRipple type="button" [rounded]="true"  severity="warning" pTooltip="Editar" icon="pi pi-pencil" class="mr-2  text-xs font-bold"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4" class="w-full">
                    <div class="flex flex-column justify-content-center align-items-center p-m-3 w-full">
                        <p-progressSpinner styleClass="p-mb-2"/>
                        <p class="p-text-secondary p-mt-2">Cargando datos, por favor espere...</p>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>

