
<div class="flex justify-content-center m-0 p-fluid w-screen h-screen p-0 ">
    <div class="grid w-full h-screen m-0 p-0">
        <div class="hidden background md:block md:col-6 xl:col-8 p-0 h-full w-full flex justify-content-center align-items-center bg-primary">
            <div class="flex w-full h-full justify-content-center align-items-center text-center">
                <p-galleria 
                    [value]="images"
                    [showIndicators]="true" 
                    [showThumbnails]="false"
                    [circular]="true"
                    [autoPlay]="true" 
                    [transitionInterval]="5000"
                    showIndicatorsOnItem="Inside" 
                    [containerStyle]="{ 'max-width': '70%', 'margin-left':'15%' }">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.src" style="width: 100%; display: block;" />
                    </ng-template>
                </p-galleria>
            </div>
        </div>
    
        <!-- Formulario de Login a la derecha -->
        <div class="col-12 md:col-6 xl:col-4 flex justify-content-center align-items-center h-full">
            <div class="flex flex-column align-items-center text-center px-4 md:px-8" >
                <img src="/layout/images/logo.png" class="cursor-pointer" alt="Login Image" style="width: 100%; max-width: 7rem; object-fit: cover;">
                <h2 class="text-center text-primary font-bold mb-4">Albert Einstein College</h2>
                <form [formGroup]="formAuth" class="p-fluid p-formgrid grid mt-0">
                    <div class="col-12 mb-4 p-0 w-full p-fluid text-left">
                        <label for="username" class="text-xl">Usuario</label>
                        <input pInputText id="username" placeholder="Ingrese usuario" formControlName="username" class="w-full p-fluid text-xl"
                        [ngClass]="{'ng-invalid ng-dirty': hasError('username', 'required')}"/>
                        @if (hasError('username', 'required')) {
                            <div class="p-error">Por favor ingrese el usuario</div>
                        }  
                    </div>
                    <br/>
                    <div class="col-12 mb-4 p-0 text-left">
                        <label for="password" class="text-xl">Contraseña</label>
                        <p-password class="mt-2 text-xl"  [feedback]="false" placeholder="Ingrese contraseña"  id="password" [toggleMask]="true" formControlName="password" type="password"
                        [ngClass]="{'ng-invalid ng-dirty': hasError('password', 'required')}"></p-password>
                        @if (hasError('password', 'required')) {
                            <div class="p-error">Por favor ingrese la contraseña</div>
                        }  
                    </div>
                    <br />
                    <button pButton label="Acceder" (click)="login()" class="p-mt-3 w-full text-xl font-bold"></button>
                </form>
            </div>
        </div>
    </div>

</div>

<p-toast>
    <ng-template let-message pTemplate="message">
        <div class="p-toast-message-text">
            <div class="p-toast-summary">{{message.summary}}</div>
            <div class="p-toast-detail" innerHtml="{{message.detail}}"></div>
        </div>
    </ng-template>
</p-toast>

<p-dialog [(visible)]="isLoading" [closeOnEscape]="false" [modal]="true" [style]="{ height: '100vh', width: '100vw' }">
    <ng-template pTemplate="headless">
      <div class="flex justify-content-center align-items-center h-full w-full" style="background-color: rgba(0, 0, 0, 0.08);">
        <div class="flex flex-column align-items-center">
          <p-progressSpinner [style]="{width: '80px', height: '80px'}" [animationDuration]="'2s'"></p-progressSpinner>
          <p class="p-mt-3" style="font-size: 1.2rem; font-weight: 600; color: #007bff;">Cargando, por favor espera...</p>
        </div>
      </div>
    </ng-template>
  </p-dialog>

