<p-dialog [(visible)]="isActionView" [style]="{'width': '910px', 'max-height': '50rem'}" header="Configuración de accesos del perfil ADMIN" [modal]="true" class="p-fluid">
    <ng-template pTemplate="header">
        <div class="flex flex-column">
            <div class="p-dialog-title">Configuración de accesos para el perfil {{role?.name}}</div>
            <div class="mt-2 text-blue-600">Active y desactive los permisos para cada Menú</div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
    <div class="flex justify-content-between p-0">
        <div class="col-5">
            <h5 class="mb-3">Menús</h5>
            <p-treeTable [value]="menuTable" [scrollable]="true" [tableStyle]="{'min-width':'10rem'}" [(selection)]="selectedMenu"
            selectionMode="single" (onNodeSelect)="onSelectedMenu($event)" (onNodeUnselect)="onUnSelectedMenu()" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="bg-blue-600 text-white" style="width: 10rem;" >Nombre</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                    <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                        <td style="width: 10rem;">
                            <p-treeTableToggler [rowNode]="rowNode" />
                            <div class="inline-flex align-items-center vertical-align-middle">
                                @if (rowData?.icon) {
                                    <ng-icon [name]="rowData?.icon" class="mr-2 text-xl text-primary-700"></ng-icon>
                                }
                                <div>{{ rowData?.label }}</div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="3" class="w-full">
                            <div class="text-red-500">
                                ... Menu no tiene permisos disponibles
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="2" class="w-full">
                            <div class="flex flex-column justify-content-center align-items-center p-m-3 w-full">
                                <p-progressSpinner styleClass="p-mb-2"/>
                                <p class="p-text-secondary p-mt-2">Cargando datos, por favor espere...</p>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>
        <div class="col-5">
            <h5 class="mb-3">Permisos</h5>
            <p-table #tablePermissions [value]="permissionsTable" styleClass="p-datatable-gridlines"  [tableStyle]="{ 'max-width': '20rem' }" 
            dataKey="permissionId" [loading]="isLoadingPermissions" loadingIcon="null">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="bg-blue-600 text-center text-white" style="width: 8rem">Permiso</th>
                        <th class="bg-blue-600 text-center text-white" style="width: 1rem">Activo</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td class="text-center">{{ row.name | permissionsLabel}}</td>
                        <td class="text-center"><p-inputSwitch [(ngModel)]="row.isActive" (ngModelChange)="isViewSave=true"/></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="3" class="w-full">
                            <div class="text-red-500">
                                ... Menu no tiene permisos disponibles
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="2" class="w-full">
                            <div class="flex flex-column justify-content-center align-items-center p-m-3 w-full">
                                <p-progressSpinner styleClass="p-mb-2"/>
                                <p class="p-text-secondary p-mt-2">Cargando datos, por favor espere...</p>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div style="max-width: 20rem;">
                <div class="flex justify-content-end mt-5 w-20" >
                    <button pButton pRipple label="Guardar" class="text-white" style="width: 90px;" [disabled]="!isViewSave" [loading]="isLoadingButton" (click)="save()"></button>
                </div> 
            </div>
        </div>

    </div>
  
</ng-template>

</p-dialog>