<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="../layout/images/logo.png" alt="logo">
        <span>Albert Einstein College</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars" style="font-size: 1.5rem;"></i>
    </button>

       <div #topbarmenu class="layout-topbar-menu">
        <button pButton pRipple (click)="layoutService.setTheme()" class="p-button-topbar font-bold mr-2 p-2"><ng-icon [name]="layoutService.isIcon()" class="text-3xl text-white"></ng-icon></button>
        <button pButton pRipple (click)="menuService.change()" class="p-button-topbar p-2 font-bold"><p-avatar label="D" styleClass="mr-2" shape="circle" [style]="{ 'background-color': '#F8F8F8', color: '#000000' }"  />DIEGO</button>
       </div>
       <div #topbarmenubutton></div>
</div>
