<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="../layout/images/logo.png" alt="logo">
        <span>Albert Einstein College</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars" style="font-size: 1.5rem;"></i>
    </button>

       <div #topbarmenu class="layout-topbar-menu">
        <button pButton pRipple (click)="layoutService.setTheme()" class="p-button-topbar font-bold mr-1 p-2"><ng-icon [name]="layoutService.isIcon()" class="text-2xl text-white"></ng-icon></button>
        <button pButton pRipple class="p-button-topbar p-2 font-bold"><ng-icon name="heroUserCircleSolid" class="text-2xl text-white mr-1"></ng-icon>DIEGO RUIDIAS</button>
       </div>
</div>
