<div class="card shadow-24 p-4 w-full">
    <img loading="lazy" src="https://scontent.flim14-1.fna.fbcdn.net/v/t39.30808-6/368407064_778973310898809_129127469329905621_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=hnUp9CABb-wQ7kNvgGA8PNb&_nc_zt=23&_nc_ht=scontent.flim14-1.fna&_nc_gid=AhdsG5t98SIW9qHsYMtU9Qm&oh=00_AYAfd2IhxPSXpatULE-VhMZs48mgT4hredc6JZoSHIA3vA&oe=6755A1CF" 
         class="w-full" alt="Imagen Colegio Albert Einstein" />

    <div class="flex flex-column align-items-center justify-content-center">
        <!-- Mensaje de bienvenida -->
        <h3 class="text-center my-2 text-bold font-italic">Bienvenido a Albert Einstein College</h3>
        <p class="text-center my-2">16 años formando los líderes del futuro</p>
    </div>
</div>