<div class="card p-2 md:p-4 mb-0">
    <p-toolbar>
        <h4 class="my-3">Buscar Estudiantes Matriculados</h4>
    </p-toolbar>
    <div class="grid mt-1 px-2">
        <div class="col-6">
            <span class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input pInputText placeholder="Ingrese DNI, nombres o código" class="w-full" />
            </span>
        </div>
        <div class="col-3">
            <p-dropdown optionLabel="name" class="p-fluid" placeholder=":: Todos los Periodos ::"></p-dropdown>
        </div>
        <div class="col-3">
            <p-dropdown optionLabel="name" class="p-fluid" placeholder=":: Todos los Periodos ::"></p-dropdown>
        </div>
    </div>
    <div class="grid p-0 m-0">
        <div class="student-card col-4 p-2"  (click)="hola()">
            <div class="card p-2">
                <div class="grid w-full m-0">
                    <div class="col-3">
                        <p-avatar label="JN" styleClass="mr-2" size="large" shape="circle" />
                    </div>
                    <div class="col-6">
                        <div class="px-1">
                            <p class="mb-0 text-lg font-bold">JESLYN HIDROGO</p>
                            <p class="text-base">DNI: 45868965</p>  
                        </div>
                    </div>
                    <div class="col-3 flex align-items-center justify-content-end">
                        <p-tag severity="success" value=" Activo" class="p-fluid" [style]="{'font-size': '1rem'}"/>
                    </div>
                </div>
                <div class="grid w-full mt-2 pl-4 pb-2">
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Nivel: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-right text-center">Primaria </div>
    
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Grado: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-right text-center">Primero </div>
    
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Sección: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-right text-center">A </div>
    
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Deuda: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg text-red-500 lg:text-right text-center">S/. 450 </div>
                </div>
            </div>
        </div>

        <div class="col-4 p-2">
            <div class="card p-2">
                <div class="grid w-full m-0">
                    <div class="col-3">
                        <p-avatar label="JN" styleClass="mr-2" size="large" shape="circle" />
                    </div>
                    <div class="col-6">
                        <div class="px-1">
                            <p class="mb-0 text-lg font-bold">JESLYN HIDROGO</p>
                            <p class="text-base">DNI: 45868965</p>  
                        </div>
                    </div>
                    <div class="col-3 flex align-items-center justify-content-end">
                        <p-tag severity="success" value=" Activo" class="p-fluid" [style]="{'font-size': '1rem'}"/>
                    </div>
                </div>
                <div class="grid w-full mt-2 pl-4 pb-2">
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Nivel: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-right text-center">Primaria </div>
    
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Grado: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-right text-center">Primero </div>
    
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Sección: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-right text-center">A </div>
    
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Deuda: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg text-red-500 lg:text-right text-center">S/. 450 </div>
                </div>
            </div>
        </div>

        <div class="col-4 p-2">
            <div class="card p-2">
                <div class="grid w-full m-0">
                    <div class="col-3">
                        <p-avatar label="JN" styleClass="mr-2" size="large" shape="circle" />
                    </div>
                    <div class="col-6">
                        <div class="px-1">
                            <p class="mb-0 text-lg font-bold">JESLYN HIDROGO</p>
                            <p class="text-base">DNI: 45868965</p>  
                        </div>
                    </div>
                    <div class="col-3 flex align-items-center justify-content-end">
                        <p-tag severity="success" value=" Activo" class="p-fluid" [style]="{'font-size': '1rem'}"/>
                    </div>
                </div>
                <div class="grid w-full mt-2 pl-4 pb-2">
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Nivel: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-right text-center">Primaria </div>
    
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Grado: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-right text-center">Primero </div>
    
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Sección: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-right text-center">A </div>
    
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Deuda: </div>
                    <div class="col-6 border-bottom-1 py-2 border-300 text-lg text-red-500 lg:text-right text-center">S/. 450 </div>
                </div>
            </div>
        </div>

    </div>
</div>
