<div class="card p-2 md:p-3 mb-0">
    <p-toolbar>
        <h4 class="p-0 m-0">Buscar Estudiantes</h4>
    </p-toolbar>
    <div class="grid mt-1 px-1">
        <div class="col-8">
            <span class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input pInputText (keyup)="onKeySearch($event)" [(ngModel)]="searchText"  placeholder="Ingrese DNI, nombres o código" class="w-full" />
            </span>
        </div>
        <div class="col-2">
            <p-dropdown optionLabel="name" (onChange)="changePeriod($event)"  [options]="periodList" optionValue="id" [(ngModel)]="period" class="p-fluid" placeholder=":: Todos los Periodos ::"></p-dropdown>
        </div>
        <div class="col-2">
            <p-dropdown optionLabel="name" [options]="state" class="p-fluid" optionLabel="name" optionValue="id" placeholder=":: Todos los estados ::"></p-dropdown>
        </div>
    </div>
    <div class="grid p-0 m-0">
        @for (item of matriculeList; track $index) {
            <div class="col-12 sm:col-6 md:col-4 p-1" (click)="viewDetail(item)">
                <div class="card student-card p-2">
                    <div class="grid w-full m-0">
                        <div class="col-2">
                            <p-avatar [label]="item.person.name | avatarLabel" styleClass="mr-2" size="large" shape="circle" />
                        </div>
                        <div class="col-7">
                            <div class="px-1">
                                <p class="mb-0 text-lg font-bold">{{item.person.name | nameLabel}}</p>
                                <p class="text-base mb-0">DNI: {{item.person.documentNumber}}</p>
                            </div>
                        </div>
                        <div class="col-3 flex align-items-center justify-content-end">
                            <p-tag [severity]="item.state | state" [value]="item.state | stateLabel" class="p-fluid" [style]="{'font-size': '1rem'}"/>
                        </div>
                    </div>
                    <div class="grid p-fluid mt-2 pb-2 px-5">
                        <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Código: </div>
                        <div class="col-6 border-bottom-1 py-2 border-300 text-base lg:text-right text-center">{{item.code}}</div>
                        
                        <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Nivel: </div>
                        <div class="col-6 border-bottom-1 py-2 border-300 text-base lg:text-right text-center">{{item.level}} </div>
        
                        <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Grado: </div>
                        <div class="col-6 border-bottom-1 py-2 border-300 text-base lg:text-right text-center">{{item.grade}} </div>
        
                        <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Sección: </div>
                        <div class="col-6 border-bottom-1 py-2 border-300 text-base lg:text-right text-center">{{item.section}}</div>
        
                        <div class="col-6 border-bottom-1 py-2 border-300 text-lg lg:text-left text-center">Deuda: </div>
                        <div class="col-6 border-bottom-1 py-2 border-300 text-base text-red-500 lg:text-right text-center">S/. {{item.fileEconomic.debt}} </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="size" [totalRecords]="totalRecords" 
    [rowsPerPageOptions]="[10, 20, 30]" currentPageReportTemplate="{first} - {last} de {totalRecords}" [showCurrentPageReport]="true"></p-paginator>
</div>
